<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <p>Dear {{fullname}},</p>
    <br>
    <p>Please use the following security code to authenticate Yourself to our Authentication Portal:</p>
    <br>
    <a href=""><h4>{{code}}</h4></a>
    <br>
    <p>Do not share this security code with anyone else. If you did not initiate the authentication request this, please change your password immediately.</p>
    <br>
    <p>Regards,</p>
    <p>{{company_name}}</p>
</body>
</html>