<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <p>Dear {{fullname}},</p>
    <br>
    <p>A password reset link for your account has been requested by someone. If you are the one that request for it, click the link below:</p>
    <br>
    <a href="{{url}}"><h4>{{code}}</h4></a>
    <br>
    <p>If you did not request this, you may safely ignore this link.</p>
    <br>
    <p>Regards,</p>
    <p>{{company_name}}</p>
</body>
</html>